<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Hello World</title>
</head>
<body>
	<h2 th:text="${msg}">This will be replaced..</h2>
</body>
</html>